<section class="filters">

  <!-- company filter lists how many inks are known for said company -->
  <label>filter by company:</label>
  <select onchange="filterCompany(this)">
    <option value=""></option>
    <% Object.keys(inkmap.getCompanies()).sort().forEach(function(c) { %>
    <option value="<%= c %>"><%= c %> (<%= inkmap.getCompanies()[c] %>)</option>
  <% }) %></select>

  <!-- name filter is freeform. It filters while you type -->
  <label>filter by name:</label>
  <input type="text" value="" onkeyup="filterName(this)">

  <!-- hue filtering is fun! It filters on the fly based on the color range you want to see swatches for -->
  <label>filter by hue:</label>
  <div class="ranger">
    <input type="range" min="0" max="360" step="1" value="0" class="start">
    <div class="shuttered">
      <div class="left shutter"></div>
      <div id="spectrum" data-offset="0"></div>
      <div class="right shutter"></div>
    </div>
    <input type="range" min="0" max="360" step="1" value="360" class="end">
  </div>

</section>
