<header>
  <% if(typeof nopersona === "undefined") { %><% include persona.html %><% } %>
  <div class="mainheader">
    <a class="logo" href="/"><img src="inkart.png"></a>
    <h1>A (tiny) encyclopedia of fountain pen inks</h1>
    <h3>A repository housing —at the moment— <%= inkdata.getInkCount() %> inks
      <span class="cuprum">
        [<a href="/about">About</a>]
        [<a href="/blog">Blog</a>]
      </span>
    </h3>
  </div><div class="palette">
    <h1>Quick selection<button class="reset" onclick="clearSelection()">reset</button></h1>
  </div>
</header>
