<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body>
    <header>
      <h1>An inkcyclopedia of sorts...</h1>
      <h3>A repository of (currently) <%= inks.length %> fountain pen inks</h3>
    </header>

    <section class="filters">
      <label>filter by company:</label>
      <select onchange="filterCompany(this)">
        <option value=""></option>
        <% Object.keys(inkmap.getCompanies()).sort().forEach(function(c) { %>
        <option value="<%= c %>"><%= c %> (<%= inkmap.getCompanies()[c] %>)</option>
      <% }) %></select>
      <label>filter by name:</label>
      <input type="text" value="" onkeyup="filterName(this)">
      <button onclick="filterHue(this)">set hue filter</button>
    </section>

    <main>
      <ul>
      <% inks.forEach(function(ink) { %>
        <% var color = "rgb(" + ink.dominant.r + "," + ink.dominant.g + "," + ink.dominant.b + ")" %>
        <li class="ink card" style="color: <%= color %>;" data-hue="<%= ink.dominant.hsl.H %>">
          <p class="name <%= ink.inkname.replace(/\W/g,'-') %>"><em><%= ink.inkname %></em></p>
          <p class="company <%= ink.company.replace(/\W/g,'-') %>"><%= ink.company %></p>
          <img src="<%= ink.thumburi %>" width=200 height=20 onclick="loadImage('images/<%= ink.id %>', '<%= color %>')">
          <p class="colorbar" style="background: <%= color %>">&nbsp;</p>
        </li>
      <% }); %>
      </ul>
    </main>

    <footer>
      By <a href="http://twitter.com/TheRealPomax">Pomax</a> ,
      mostly with inks from <a href="http://www.gouletpens.com">The Goulet Pen Company</a>
      —
      <a href="submit">click here to submit an ink sample</a>
      —
      Note: still under development, samples are not color corrected yet.
    </footer>
  </body>

  <scripts>
    <script src="javascript/circles.js"></script>
    <script src="javascript/imgloader.js"></script>
    <script src="javascript/mainfilter.js"></script>
  </scripts>

</html>