<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body>
    <header>
      <h1>An inkcyclopedia of sorts...</h1>
      <h3>A repository of (currently) <%= inks.length %> fountain pen inks</h3>
    </header>

    <% include filters.html %>

    <main><ul>
      <li class="previews hidden"></li>
      <li class="nextcolumn hidden"></li>
      <% inks.forEach(function(ink) { %>
        <% include swatch.html %>
      <% }); %>
    </ul></main>

    <% include footer.html %>
  </body>

  <scripts>
    <script src="javascript/circles.js"></script>
    <script src="javascript/imgloader.js"></script>
    <script src="javascript/mainfilter.js"></script>
    <!-- hue filter style/script -->
    <link rel="stylesheet" href="styles/ranger.css">
    <script src="javascript/ranger.js"></script>
  </scripts>

</html>