<div class="main-data">
  <label>Company:</label><input class="company" type="text">
  <label>Ink Line:</label><input class="inkline" type="text">
  <label>Ink name:</label><input class="inkname" type="text">
  Estimated color:
  <label class="dominant">&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input class="dominant" type="hidden">
  Crop:
  <span class="crop"><em>Please click-drag a representative crop on the sample</em></span>
</div>
<p class="colors">Found image colors (click any to override the estimated dominant color): </p>
<div class="imagecontainer"><img style="display:hidden;"></div>
