<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Extremely simple ink fragment uploader</title>
    <link rel="stylesheet" href="styles/dnd.css">
  </head>

  <body>
    <h1>Extremely simple ink fragment uploader</h1>

    <main>
      <div class="drag-and-drop">drag-and-drop your image here.</div>

      <label for="company">Company:</label><input id="company" type="text">
      <label for="inkname">Ink name:</label><input id="inkname" type="text">
      <label for="dominant">&nbsp;&nbsp;&nbsp;&nbsp;</label><input id="dominant" type="hidden">
      <button disabled>Upload this fragment</button>

      <hr>

    </main>

    <footer><a href="/">back to the main page</a></footer>
  </body>

  <scripts>
    <script src="javascript/jpg.js"></script>
    <script src="javascript/rgbquant.js"></script>
    <script src="javascript/RGBAnalyse.js"></script>
    <script src="javascript/fragment.js"></script>
    <script src="javascript/draganddrop.js"></script>  
    <script src="javascript/fragment.js"></script>
  </scripts>

</html>