<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Extremely simple ink fragment uploader</title>
    <link rel="stylesheet" href="styles/dnd.css">
  </head>

  <body>
    <h1>Extremely simple ink fragment uploader</h1>

    <div class="drag-and-drop">drag-and-drop your images here.</div>
    <hr>

    <main>
    </main>

    <footer><a href="/">back to the main page</a></footer>
  </body>

  <scripts>
    <script src="javascript/jpg.js"></script>
    <script src="javascript/rgbquant.js"></script>
    <script src="javascript/RGBAnalyse.js"></script>
    <script src="javascript/draganddrop.js"></script>  
    <script src="javascript/submit.js"></script>
  </scripts>

</html>