<% var color = "rgb(" + swatch.r + "," + swatch.g + "," + swatch.b + ")" %>
<li class="ink card"
    style="background: <%= color %>;"
    data-hue="<%= swatch.H %>"
    data-chroma="<%= swatch.C %>"
    data-color="<%= color %>"
    onclick="addToPalette(this)">

  <p class="company <%= swatch.company.replace(/\W/g,'-') %>"><%= swatch.company %></p>
  <p class="name <%= swatch.inkname.replace(/\W/g,'-') %>"><%= swatch.inkname %></p>
  <p class="colorpoint"><%= color %></p>

  <p class="crop">
    <% swatch.images.split(",").forEach(function(imgid, idx) { if(idx>0) return; %>
    <img src="inks/images/<%= imgid %>/crop.png"
         onclick="loadImage('<%= imgid %>', '<%= color %>')"
         style="background: <%= color %>"
         title="view sample">
    <% }) %>
  </p>
</li>