<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia uploader</title>
    <% include ../fragments/universal.html %>
    <link rel="stylesheet" href="/styles/submit.css">
  </head>

  <body>
    <% include ../fragments/header.html %>

    <div class="drag-and-drop">
      Sample submission: drag-and-drop your images here (in this div), then fill in the required data for each sample.
      A sample will require a representative crop, which is a rectagular area with enough ink to show off what it looks like.
      Simply click-drag on the image and you try as many times as you like.
    </div>

    <main>
    </main>

    <footer>
      <a href="/">back to the main page</a>
      —
      Note: inkcyclopedia is still in beta.
      <a href="http://github.com/Pomax/Inkcyclopedia/issues">That means something</a>.
    </footer>
  </body>

  <script type="html/template"><% include submission.html %></script>

  <scripts>
    <script src="/javascript/vendor/jpg.js"></script>
    <script src="/javascript/vendor/rgbquant.js"></script>
    <script src="/javascript/draganddrop.js"></script>
    <script src="/javascript/quantize.js"></script>
    <script src="/javascript/submit.js"></script>
  </scripts>

</html>