<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/about.css">
    <script src="/javascript/marked.js"></script>
  </head>

  <body>
    <% nopersona = true %>
    <% include ../fragments/header.html %>

    <main>
      <h1>So what's all this about?</h1>
      <div class="markdown"><% include ../../README.md %></div>
      <script src="/javascript/mdconvert.js"></script>
    </main>

    <% include ../fragments/footer.html %>
  </body>

</html>