<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <% include ../fragments/universal.html %>
    <link rel="stylesheet" href="/styles/about.css">
    <script src="/javascript/vendor/marked.js"></script>
  </head>

  <body>
    <% include ../fragments/header.html %>

    <main>
      <h1>So what's all this about?</h1>
      <div class="markdown"><% include ../../README.md %></div>
      <script src="/javascript/mdconvert.js"></script>
    </main>

    <% include ../fragments/footer.html %>
  </body>

</html>