<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <% include ../fragments/universal.html %>
    <link rel="stylesheet" href="/styles/blog.css">
    <script src="/javascript/vendor/marked.js"></script>
  </head>

  <body>
    <% include ../fragments/header.html %>

    <main>
<div class="markdown">
Some new additions
===

The De Atramentis inks have been posted, and thanks to a fantastic "20% all samples" deal that <a href="http://gouletpens.com">Goulet Pens</a> is running, I figured I might as well buy all the inks I'm still missing. So I did, and I have 212 additional samples to run through now, comprising the rest of Noodler's Inks, Diamine, Private Reserve, J. Herbin and Rohrer &amp;d Klingner. And yes, that's going to take a while.

I also bought some what I thought would be good writing pads (Clairfontaine Pupitre), but it turns out there's way too much China clay in the paper and it's super dense and feels plain wrong for writing, so that's a thing. For art, this'd be great, except it's lined paper because I needed writing paper, not art paper. So far the best value-for-money paper I found was the Dollarstores' C-Studio top-ring writing pads, and they don't seem to sell those anymore (it was just thick enough to not seem see-through or flimsy, but "cheap" enough to be actual paper instead of feeling stiff).

Anyway. More inks on the way! And I need to think about how to improve the loading for you, because a pre-compiled 500 or so ink page is going to load fairly slowly, so I might need to do something clevel with empty-but-fixed-size divs that get filled just before the come into view, and something localStorage or appCache to make sure you don't redownload the entire site, except on your very first visit, simply grabbing updates as you revisit, if there are any.

― Posted November 17<sup>th</sup>, 2014
</div>

<div class="markdown">
Some new additions
===

I've added some new inks to the site, to bring the "data" count up a little (you need data to do cool things with data!) so some fifty-odd additions have landed today, in the form of inks by Aurora, Pelikan, Platinum, Stipula, Faber-Castell (they don't just make pencils!), Parker, and Delta.

Still to come: 70 inks by [de Atramentis](http://www.de-atramentis.com). They have a huge catalogue, and their inks are fascinatingly odd (many of them are scented, for instance). They merit a batch of their own (much like Diamine and Noodler's ink will, eventually).

― Posted October 4<sup>th</sup>, 2014
</div>


<div class="markdown">
Launch time is now.
===
After trying some 250 inks, I think it's time to officially launch this inkcyclopedia!

The current Inkcyclopedia contains 235 ink samples, default-sorted by hue, but resortable on various color model dimensions, with additional filters for company name, ink name, and hue restriction. It also supports Persona login, which means you can log into the site without actually needing "an account" (which is nice, I don't like accounts) with the intent being that as a user you will be able to save lists of inks you own and want, as well as save selections you've made (like saved palettes).

But wait, there's more. You can also upload your own samples if you're logged in, by using the "submit a sample" link:

![ ](https://pomax.github.io/gh-weblog/images/inkcyclopedia-ink-sample.jpg)

Simply drag-and-drop the sample image from your desktop onto the browser in the drag-and-drop bar, and then give the company name, ink line (if it's an ink from a particular line of inks), and ink name. Finally, you get to click-drag an area of the image to act as "crop" that will show up as the ink thumbnail on the main page. Happy? Hit submit and done!

Inks are submitted as "unverified" by default, so they won't immedaitely show up, they need to be okayed by someone with DB rights (which right now is just me) but you can view them by using the [unverified browse link](/unverified).

― Posted September 7<sup>th</sup>, 2014
</div>

      <script src="/javascript/mdconvert.js"></script>
    </main>

    <% include ../fragments/footer.html %>
  </body>

</html>