<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inkcyclopedia</title>
    <% include ../fragments/universal.html %>
    <link rel="stylesheet" href="/styles/quickselection.css">
    <% include opengraph.html %>
  </head>

  <body>
    <% include ../fragments/header.html %>
    <%if(typeof nofilter === "undefined" || !nofilter) { %><% include ../fragments/filters.html %><% } %>
    <main>
      <script src="/javascript/wantown.js"></script>

      <script><% if (typeof email !== "undefined") { %>
      schedule(function() {
        window.preloadedWOLists = true;
      });
      <% } else { %>
        window.preloadedWOLists = false;
      <% } %></script>

      <div class="swatch pane">
        <ul class="swatches"><% if (typeof lists !== "undefined") { %><% include selections.html %><% } else { %><% include swatches.html %><% } %>        </ul>
      </div>

      <% include ../fragments/footer.html %>
    </main>

    <scripts>
      <script src="/javascript/imgloader.js" async></script>
      <%if(typeof nofilter === "undefined" || !nofilter) { %><script src="/javascript/mainfilter.js"  async></script><% } %>
      <%if(typeof nofilter === "undefined" || !nofilter) { %><script src="/javascript/paletteloader.js"  async></script><% } %>
    </scripts>

  </body>

</html>
