          <% fidelity = 1000 %>
          <script>
            function setupSwatch(id, props) {
              var e = find("#swatch-"+id);
              setTimeout(function() {
                e.set("data-hue", props.h);
                e.set("data-saturation", props.s);
                e.set("data-lightness", props.l);
                e.set("data-luma", props.y);
                e.set("data-chrominance-u", props.u);
                e.set("data-chrominance-v", props.v);
                e.set("data-color", props.c);
                e.set("style", "background: " + props.c);
              },10);
            }
          </script>

          <% inkdata.swatches.forEach(function(swatch) {
            if (typeof list !== 'undefined' && list.indexOf(swatch.id) === -1) { return } if (typeof showUnverified !== "undefined" && !!showUnverified && swatch.unverified) { %><% include swatches/swatch.html %><% } %><% if ((typeof showUnverified === "undefined" || !showUnverified) && !swatch.unverified) { %><% include swatches/swatch.html %><% } %>
          <% }); %>

          <script>
          schedule(function() {
            var inks = find("li.ink.card").map(function(li) {
              return li.id.replace("swatch-",'');
            });

            var owned = <% if (typeof email !== "undefined" && typeof owned !== "undefined" && owned.length > 0) { %>["<%- owned.join('","') %>"]<% } else { %>false<% } %>;
            var wishlist = <% if (typeof email !== "undefined" && typeof wishlist !== "undefined" && wishlist.length > 0) { %>["<%- wishlist.join('","') %>"]<% } else { %>false<% } %>;

            inks.forEach(function(inkid) {
              activateWantOwn("swatch-"+inkid);
              if(owned && owned.indexOf(inkid)>-1) { toggleOwnWant("swatch-"+inkid, ".own"); }
              if(wishlist && wishlist.indexOf(inkid)>-1) { toggleOwnWant("swatch-"+inkid, ".want"); }
            });
          });
          </script>
