          <% var color = "rgb(" + swatch.r + "," + swatch.g + "," + swatch.b + ")" %>
          <li class="ink card" id="swatch-<%= swatch.id %>">
            <p class="company <%= swatch.company.replace(/\W/g,'-') %>"><%= swatch.company %></p>
            <p class="name <%= swatch.inkname.replace(/\W/g,'-') %>"><%= swatch.inkname %></p>
            <p class="colorpoint"><!--<%= color %>--></p><% include swatch-menu.html %>
            <div class="crop"><% swatch.images.split(",").forEach(function(imgid, idx) { if(idx>0) return; %>
              <img src="/inks/images/<%= imgid %>/crop.png"
                   onclick="loadImage(event, '<%= imgid %>', '<%= color %>')"
                   style="background: <%= color %>"
                   title="view sample"><% }) %>
            </div>
          </li>
          <script>setupSwatch("<%= swatch.id %>", { h: "<%= ((fidelity* swatch.H * 2 * Math.PI)|0)/fidelity %>", s: "<%= ((fidelity*swatch.S)|0)/fidelity %>", l: "<%= ((fidelity*swatch.L)|0)/fidelity %>", y: "<%= ((fidelity*swatch.Y)|0)/fidelity %>", u: "<%= ((fidelity*swatch.U)|0)/fidelity %>", v: "<%= ((fidelity*swatch.V)|0)/fidelity %>", c: "<%= color %>"})</script>