html, body { margin: 0; padding: 0; width: 100%; height: 100%; background: #333; color: #FEFEF2; }
main { padding: 0 1em 1em 1em; }
main span { cursor: pointer; }
div.sample { overflow: hidden; }
p { margin: 0; padding: 0; }
p + p { margin-top: 1em; }
.drag-and-drop { width: 100%; height:5em; text-indent: 2em; line-height: 5em; background: #444; margin: 1em 0;}
.hover { background: #666; }
canvas { max-width: 100%; }
.color-info { display: inline-block; height: 10px; width: 3em; vertical-align: middle; }
footer { margin: 1em; }
a, a:visited { color: #D0D0C4; }
hr { border: 1px solid #444;}
button.publish {
	width: 25em;
	height: 3em;
	background: #DDD;
	color: #333;
	font-family: Arial;
	font-weight: bold;
	border-radius: 0.4em;
	font-size: 110%;
	margin: 1em auto 0;
	display: block;
	cursor: pointer;
}
