section.filters {
  font-family: "Cuprum";
  font-size: 100%;
  text-align: center;
  background: #444;
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
  box-sizing: border-box;

  height: 3.5em;
  overflow: hidden;
}

section.filters input[type=text],
section.filters select {
  width: 14em;
  border: 1px solid #333;
  margin: 0;
  box-sizing: border-box;
}

section.filters .sorting select {
  width: 8em;
}

section.filters input,
section.filters select {
  position: relative;
  z-index: 10;
}

section.filters * + label {
  margin-left: 0.5em;
}

section.filters canvas.rangepicker {
  cursor: none;
  line-height: 1em;
  vertical-align: bottom;
  margin-bottom: 1px;
  border: 1px solid #999;
  border-width: 1px 1px;
}

section.filters.top-sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

section.filters a.submission {
  background: white;
  border-width: 1px;
  margin: 0 1em;
  vertical-align: middle;
  padding: 2px 8px;
  border-radius: 2px;
  text-decoration: none;
  white-space: nowrap;
}

section.filters .column {
  display: inline-block;
  text-align: left;
  padding: 0 0.6em;
  vertical-align: middle;
}

section.filters .column.main label {
  display: inline-block;
  width: 8em;
}

section.filters .hue-reset {
  cursor: pointer;
}