section.filters {
  position: relative;
  font-family: "Cuprum";
  font-size: 100%;
  text-align: center;
  background: #444;
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
  box-sizing: border-box;

  height: 3.5em;
  overflow: hidden;
}

section.filters input[type=text],
section.filters select {
  width: 14em;
  border: 1px solid #333;
  margin: 0;
  box-sizing: border-box;
}

section.filters .sorting select {
  width: 8em;
}

section.filters input,
section.filters select {
  position: relative;
  z-index: 10;
}

section.filters * + label {
  margin-left: 0.5em;
}

section.filters canvas.rangepicker {
  cursor: none;
  line-height: 1em;
  vertical-align: bottom;
  margin-bottom: 1px;
  border: 1px solid #999;
  border-width: 1px 1px;
}

section.filters.top-sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

section.filters a.submission {
  background: white;
  border-width: 1px;
  margin: 0 1em;
  vertical-align: middle;
  padding: 2px 8px;
  border-radius: 2px;
  text-decoration: none;
  white-space: nowrap;
}

section.filters .column {
  display: inline-block;
  text-align: left;
  padding: 0 0.6em;
  vertical-align: middle;
}

section.filters .column.main label {
  display: inline-block;
  width: 8em;
}

section.filters div.drag-and-drop {
  text-align: center;
  line-height: 3.5em;
}

section.filters div.drag-and-drop button {
  display: inline-block;
  margin-left: 0.1em;
}

section.filters .column button {
  display: block;
  border: none;
  font-family: Cuprum;
  margin: 0;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0.2em 0 0.2em -4px;
  cursor: pointer;
  color: #626;
  background: #FFF;
}

section.filters .column.main a,
section.filters .column.main button {
  position: relative;
  display: block;
  top: -0.2em;
  margin: 0;
  padding: 2px 5px;
  background: white;
  border-radius: 2px;
  text-align: center;
  border-width: 1px;
  color: #626;
  font-family: Cuprum;
  font-size: 16px;
  cursor: pointer;
}

section.filters .column.main button + a {
  margin-top: 2px;
}

section.filters .img-filter {
  display: inline-block;
}

section.filters .hue-filter {
  display: inline-block;
}

section.filters .hue-reset {
  display: inline-block;
  cursor: pointer;
}

section.filters .drag-and-drop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: green;
  z-index: 99;
}

body ul.matchlist {
  width: 20em;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0
}

body ul.matchlist li {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 35px;
  vertical-align: middle;
  box-sizing: border-box;
}

body ul.matchlist li.selected {
  border: 1px solid white;
}
