@import "persona.css";

header {
  font-family: "Shadows Into Light Two";
  text-align: center;
  margin: 0;
  height: 7em;
}

a.logo {
  position: absolute;
  top: 1.5em;
  left: 1em;
  z-index: 1;
}

a.logo img {
  border: none;
  max-width: 600px;
}

header h1 {
  font-size: 250%;
}

header h1,
header h3 {
  position: relative;
  z-index: 2;
  margin: 0;
}

header h3 a {
  color: #FFF;
  text-decoration: none;
}

header h1 + h3 {
  margin-top: 0.25em;
  display: inline-block;
}

header div.mainheader {
  display: block;
}

header div.palette {
  display: none;
}
