.underlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.underlay.palette {
  position: absolute;
  overflow: auto;
  box-sizing: border-box;
  padding: 10%;
}

.underlay img {
  position: absolute;
  top: 30%;
  left: 0;
  border: 10px solid;
  max-width: calc(100% - 20px);
}

.underlay img.preview-all {
  position: relative;
  max-width: calc(100% - 20px);
  top: 0;
  left: 0;
}

.underlay img.preview-all + img.preview-all {
  margin-top: 0;
}

.underlay .loading {
  position:absolute;
  left: calc(50% - 16px);
  top:  calc(50% - 16px);
  border: none;
}