@import "swatches.css";
@import "footer.css";

main {
  position: relative;
  height: calc(100% - 10.5em);
  overflow: hidden;
  width: 200%;
  margin: 0;
  left: 0;
  transition: left 0.3s;
}

main.switched {
  left: -100%;
}

main div.pane {
  display: inline-block;

  margin: 0;
  padding: 0;
  vertical-align:top;

  position: relative;
  height: 100%;
  width: 50%;
  overflow: auto;
}

.swatch.pane .swatches {
  text-align: center;
}

.swatch.pane {
  background: url('/arrow-right.svg');
}

.swatch.pane h3 {
  font-family: "Shadows Into Light Two";
  text-align: center;
}

.preview.pane {
  background: url('/arrow-left.svg');
}

.preview.pane h1 {
  font-family: "Shadows Into Light Two";
  text-align: center;
  position: relative;
  top: 30%;
  color: #DDD;
}

.preview.pane img {
  display: block;
  margin-left: 40px;
  max-width: calc(100% - 40px);
  max-height: 150px;
  cursor: pointer;
}
