@import "swatches.css";
@import "footer.css";

main {
  position: relative;
  height: calc(100% - 10.5em);
  overflow: hidden;
  width: 100%;
  margin: 0;
  left: 0;
  transition: left 0.3s;
}

main.switched {
  left: -100%;
}

main div.pane {
  display: inline-block;

  margin: 0;
  padding: 0;
  vertical-align:top;

  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.swatch.pane .swatches {
  text-align: center;
}

.swatch.pane {
  background: url('/images/arrow-right.svg');
}

.swatch.pane h3 {
  font-family: "Shadows Into Light Two";
  text-align: center;
}

.cuprum {
  font-family: Cuprum;
}