.persona {
  float: right;
  position: relative;
  top: 1em;
  right: 1em;
  z-index: 99;
  margin-left: -100%;
}

.persona .login-button { display: inline-block; }
.persona .account,
.persona .logout-button { display: none; }

.logged-in .persona .login-button { display: none; }
.logged-in .persona .account,
.logged-in .persona .logout-button { display: inline-block; }

.persona .account { position: relative; }
.persona .account ul.hidden { display: none!important; }
.persona .account ul {
  position: absolute;
  top: 1.75em;
  left: -0.2em;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #333;
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 1em;
  padding: 0.5em 0.75em;
}

.persona .account ul li {
  white-space: nowrap;
}

.persona a {
  color: white;
}

.persona .login a {
  display: block;
}
