@import "imgpreview.css";

ul.swatches li {
  position: relative;
}

ul.swatches .ink.card {
  background: #DDD;
  border: 1px solid white;
  border-radius: 1em;
  color: inherit;
  display: inline-block;
  min-width: 250px;
  max-width: 250px;
  height: 100px;
  margin: 0.6em;
  cursor: default;
  box-sizing: border-box;
}

ul.swatches .ink.card p {
  display: block;
  margin: 0;
  color: white;
}

ul.swatches .ink.card p.crop img {
  position: absolute;
  border: solid white;
  border-width: 1px;
  border-radius: 1em 0 1em 0;
  box-shadow: 0px 0px 5px 3px #333;
  top: 60px;
  right: -4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

ul.swatches .ink.card .company {
  text-align: left;
  padding-left: 0.5em;
  font-family: "Shadows Into Light Two";
  font-size: 120%;
  line-height: 200%;
}

ul.swatches .ink.card .name {
  font-family: Cuprum;
  position: absolute;
  bottom: 0.2em;
  right: calc(40px + 0.5em);
}

ul.swatches .ink.card .colorpoint {
  color: transparent;
  font-family: Cuprum;
}

ul.swatches .ink.card.palette-swatch {
  box-shadow: 0px 0px 15px 3px white;
}

ul.swatches .ink.card p.crop img:hover {
  box-shadow: 0px 0px 21px 0px white!important;
}
