<section class="filters">
      <div class="column main">
        <div class="company-filter">
          <!-- company filter lists how many inks are known for said company -->
          <label>filter by company:</label>
          <select onchange="InkFilter.filterCompany(this)">
            <option value=""></option><% inkdata.getCompanies().forEach(function(c) { %>
            <option value="<%= c.company %>"><%= c.company + (c.inkline?' '+c.inkline:'') %> (<%= c.count %>)</option><% }) %></select>
        </div>

        <div class="name-filter">
          <!-- name filter is freeform. It filters while you type -->
          <label>filter by name:</label>
          <input type="text" value="" onkeyup="InkFilter.filterName(this)">
        </div>
      </div>

      <div class="column">
        <div class="drag-and-drop hidden">Drop image here, or <button class="cancel">cancel</button></div>
        <div class="img-filter hidden"></div>
        <div class="hue-filter">
          <!-- hue filtering is fun! It filters on the fly based on the color range you want to see swatches for -->
          <div class="column">
            <label>filter by hue:</label>
            <button class="inkmatch" title="Click to filter by color based on an image from your computer">Filter from image</button>
          </div>

          <div class="ranger">
            <input type="range" min="0" max="360" step="1" value="0" class="start">
            <div class="shuttered">
              <div class="left shutter"></div>
              <div id="spectrum" data-offset="0"></div>
              <div class="right shutter"></div>
            </div>
            <input type="range" min="0" max="360" step="1" value="360" class="end">
          </div>
        </div>
        <span class="hue-reset">(reset)</span>
      </div>

      <div class="column">
        <div class="sorting">
          <!-- several predefined sorts -->
          <label>sort on :</label>
          <select onmousedown="this.value='';" onchange="InkFilter.sortElementsBy(this)"><% ["hue","saturation","lightness","luma","chrominance-u","chrominance-v","alphabetically","random"].forEach(function(c) { %>
            <option value="<%= c %>"><%= c %></option><% }) %></select>
        </div>
      </div>

      <div class="column main">
        <a class="submission" href="/submit">Submit a sample</a>
      </div>

      <!-- hue filter style/script -->
      <link rel="stylesheet" href="/styles/ranger.css">
      <script src="/javascript/ranger.js" async></script>
      <script src="/javascript/converter.js"></script>
      <script src="/javascript/vendor/jpg.js"></script>
      <script src="/javascript/vendor/rgbquant.js"></script>
      <script src="/javascript/inkmatch.js"></script>
      <script src="/javascript/draganddrop.js"></script>
    </section>
